<h3>Úloha 1 - JEST</h3>
<p>phone.js - obsahuje funkciu phoneNrsAreEqual<br>
phone.test.js - obsahuje test funkcie phoneNrsAreEqual. Sú tam 3 testy: mobil, telefon, nemecko.</p>
<p>Test mobil testuje rovnosť mobilných čísel. Test telefon testuje rovnosť čísel pevných liniek.
Test nemecko testuje rovnosť nemeckých telefónnych čísel.
Pre spustenie testu je potrebné mať súbory phone.js a phone.test.js v jednom adresári.
Spúšta sa súbor phone.test.js v programe, ktorý vie vyhodnocovať JEST jednotkové testy.
Ja som použil Node.js</p>
<h3>Úloha 2 - Selenium</h3>
<p>Selenium.zip - obsahuje testovaciu aplikáciu webovej stránky. Spúšta sa súbor SeleniumTest.exe.<br>
Program.cs - obsahuje testovacie funkcie: Test1SK, Test1EN, Test2SK, Test2EN, Test3SK, Test3EN.</p>
<p>Archív Selenium.zip je potrebné rozbaliť. Po rozbalení vznikne adresár Selenium.
V tom adresári je spustiteľný súbor SeleniumTest.exe. Po spustení tohto súboru sa začne testovanie webovej stránky.
Po skončení testu sa vytvorí súbor report.log. V tom súbore bude výpis nájdených chýb. Ak žiadna chyba sa nenájde,
v súbore budú len názvy testov. Pod každým názvom testu môže byť zoznam chýb, ktoré ten test odhalil.<br>
Test1SK - testovanie prítomnosti polí na slovenskej verzii webovej stránky.<br>
Test1EN - testovanie prítomnosti polí na anglickej verzii webovej stránky.<br>
Test2SK - testovanie zobrazenia oznamu po vyplnení správnych údajov na slovenskej verzii webovej stránky.<br>
Test2EN - testovanie zobrazenie oznamu po vyplnení správnych údajov na anglickej verzii webovej stránky.<br>
Test3SK - testovanie kontroly vstupných polí na slovenskej verzii webovej stránky.<br>
Test3EN - testovanie kontroly vstupných polí na anglickej verzii webovej stránky.